---
import '../styles/global.scss';
import { MainWebsiteUrl } from '../consts';
---

<footer>
	<p>© 2026 Narvana Labs</p>
	<div class="footer_links">
		<a href={MainWebsiteUrl}>Narvana</a>
		<a href="https://github.com/narvanalabs">GitHub</a>
		<a href="mailto:hello@narvana.io">Contact</a>
	</div>
</footer>
